<div id="header">
    <h1>Gramado e Canela</h1>
    <ul id="menu">
        <li>
            <a href="/">
                <img src="/img/home.png" alt="Home">
            </a>
            <a href="/">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/galeria/">
                <img src="/img/galeria.png" alt="Galera de fotos">
            </a>
            <a href="/galeria/">
                <span>Galeria de fotos</span>
            </a>
        </li>
    </ul>
</div>